@import "variables";
.inputBase {
  border: 1px solid $dark_grey;
  padding: 8px;
  font-family: inherit;
  font-size: 14px;
  box-sizing: border-box;
  &::placeholder{
    opacity: 0.5;
  }
  &:focus {
    outline: 0;
  }
}
