.searchInput {
  background:transparent;

  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  box-sizing: border-box;
  width: 80%;
  &:focus {
    outline: none;
  }
}

.searchForm {
  border: 2px solid #fff;
  border-radius: 1px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 80%;
  align-content: center;
}
.searchInputBtn {
  background: transparent;
  border: none;
  padding: 0;
}
