@import "../../styles/variables";
.header {
  display: grid;
  align-content: center;
  grid-gap: 20px;
  margin: 0 auto 0 auto;
  @include desktop {
    grid-auto-flow: column;
    grid-gap: 0;
    width: $mobile-width;
    padding: auto;
  }
}
