@import "../../styles/variables";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalContent {
  position:fixed;
  background: $secondary_grey;
  border-radius: 3px;
  width: 60%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 20px;
}

.modalHeader {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;

}

.modalCloseBtn {
  border: none;
  border-radius: 100px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  background: $dark_grey;
  color: white;
  &:hover {
    background: $primary_red;
  }
}

.showModal {
  display: block;
}

.hideModal {
  display: none;
}
