@import "../../styles/variables";
.movieDetail {
  display: grid;
  grid-gap: 20px;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  height: 510px;
  overflow: scroll;
  @include desktop {
    grid-auto-flow: column;
    font-size: 18px;
    grid-gap: 40px;
  }
  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

.movieDetailImg {
  width: 100%;
}

.movieDetailTitle {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.movieDetailYear {
  font-size: 20px;
}
