@import "../../styles/variables";
.pagination {
  display: grid;
  font-size: $heading-font;
  align-items: center;
  margin-bottom: 40px;
  align-content: center;
  @include desktop {
    grid-auto-flow: column;
    justify-content: space-between;

  }
}

.pager {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 14px;
  justify-content: center;
  align-content: center;
}

.pagerBtns {
  display: grid;
  grid-gap: 14px;
  grid-auto-flow: column;
}
.pagerBtn {
  background: transparent;
  border: 2px solid #fff;
  text-align: center;
  fill: white;
  cursor: pointer;
  &:hover {
    border-color: $primary_red;
  }
}
