@import "../../styles/variables";
.listItem {
  margin: 0;
  text-align: left;
  border: 1px transparent solid;
  cursor: pointer;
  &:hover {
    border-color: $primary_red;
  }
}

.listItemTitle {
  font-size: $heading-primary;
  margin: 0;
}

.listItemImg {
  max-width: 100%;
  display: block;
  background: $primary_grey;
  @include desktop {
    height: 320px;
  }
}
