@import "../../styles/variables";
.resultsList {
  background: $secondary_grey;
  border-radius: 3px;
  padding: 20px;
}

.resultsListLoading {
  justify-content: center;
  align-items: center;
  display: grid;
}
